   <section class="section__container d-flex align-items-center justify-content-center">
        <div class="container__section ">
           
            <div class="container__section_right">
                <h1>We help the needed</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, distinctio nesciunt. Nostrum voluptatem laboriosam officiis, natus dignissimos minima rerum.
                     Impedit eius nisi esse doloribus tempore aliquam animi illum nihil aut!</p>
                <div class="buttons_right">
                    <button action="/signup">Get Started</button>
                    <button action="/login" >Log In</button>
                </div>
            </div>
        </div>
    </section>